In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.cm as cm
import matplotlib.pyplot as plt

In [4]:
pd.set_option('display.max_colwidth', None)

<ipython-input-4-0891b765a168>:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

In [5]:
customers_data = pd.read_csv("P4/olist_customers_dataset.csv")
orders_data = pd.read_csv("P4/olist_orders_dataset.csv")
order_items_data = pd.read_csv("P4/olist_order_items_dataset.csv")
products_data = pd.read_csv("P4/olist_products_dataset.csv")
order_review_data = pd.read_csv("P4/olist_order_reviews_dataset.csv")
name_translation_data = pd.read_csv("P4/product_category_name_translation.csv")

In [6]:
customers_data.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [7]:
customers_data.isna().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [8]:
orders_data.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [9]:
orders_data.shape

(99441, 8)

In [10]:
orders_data.drop(["order_delivered_carrier_date",
                  "order_delivered_customer_date",
                  "order_estimated_delivery_date",
                  "order_status"], axis=1, inplace=True)

In [11]:
orders_data["order_approved_at"].isna().sum()

160

In [12]:
orders_data = orders_data[~orders_data["order_approved_at"].isna()]

In [13]:
orders_data.isna().sum()

order_id                    0
customer_id                 0
order_purchase_timestamp    0
order_approved_at           0
dtype: int64

In [14]:
orders_data.head()

,order_id,customer_id,order_purchase_timestamp,order_approved_at
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,2017-10-02 11:07:15
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:37,2018-07-26 03:24:27
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,2018-08-08 08:38:49,2018-08-08 08:55:23
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,2017-11-18 19:28:06,2017-11-18 19:45:59
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,2018-02-13 21:18:39,2018-02-13 22:20:29

In [15]:
# Orders and customers dataset merged
result = pd.merge(customers_data, orders_data, on='customer_id')

In [16]:
result.isna().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
order_id                    0
order_purchase_timestamp    0
order_approved_at           0
dtype: int64

In [17]:
result.shape

(99281, 8)

In [18]:
result.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_purchase_timestamp,order_approved_at
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,2017-05-16 15:05:35,2017-05-16 15:22:12
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,2018-01-12 20:48:24,2018-01-12 20:58:32
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,2018-05-19 16:07:45,2018-05-20 16:19:10
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,2018-03-13 16:06:38,2018-03-13 17:29:19
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,2018-07-29 09:51:30,2018-07-29 10:10:09

In [19]:
order_items_data.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [20]:
order_items_data.shape

(112650, 7)

In [21]:
order_items_data.drop(["seller_id", "shipping_limit_date", "freight_value"],
                      axis=1, inplace=True)

In [22]:
order_items_data.isna().sum()

order_id         0
order_item_id    0
product_id       0
price            0
dtype: int64

In [23]:
# Orders, customers and orders_items dataset merged
result2 = pd.merge(result, order_items_data, on='order_id')

In [24]:
result2.isna().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
order_id                    0
order_purchase_timestamp    0
order_approved_at           0
order_item_id               0
product_id                  0
price                       0
dtype: int64

In [25]:
result2.shape

(112635, 11)

In [26]:
products_data.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [27]:
products_data.shape

(32951, 9)

In [28]:
products_data.drop(["product_name_lenght", "product_description_lenght",
                    "product_photos_qty", "product_weight_g",
                    "product_length_cm", "product_height_cm",
                    "product_width_cm"], axis=1, inplace=True)

In [29]:
products_data["product_category_name"].isna().sum()

610

In [30]:
products_data = products_data[~products_data["product_category_name"].isna()]

In [31]:
name_dict = {}
for i, row in name_translation_data.iterrows():
    name_dict[row["product_category_name"]] = row["product_category_name_english"]

In [32]:
liste_name_trans = list(name_translation_data["product_category_name"].values)

In [33]:
for i, row in products_data.iterrows():
    if row["product_category_name"] in liste_name_trans:
        products_data.loc[i, "product_category_name"] = name_dict[row["product_category_name"]]

In [34]:
# Orders, customers, orders_items and products dataset merged
result3 = pd.merge(result2, products_data, on='product_id')

In [35]:
order_review_data.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela Internet seguro e prático Parabéns a todos feliz Páscoa,2018-03-01 00:00:00,2018-03-02 10:26:53

In [36]:
order_review_data.shape

(100000, 7)

In [37]:
order_review_data.isna().sum()

review_id                  0
order_id                   0
review_score               0
review_comment_title       88285
review_comment_message     58247
review_creation_date       0
review_answer_timestamp    0
dtype: int64

In [38]:
order_review_data.drop(["review_comment_title", "review_comment_message",
                        "review_creation_date", "review_answer_timestamp"],
                       axis=1, inplace=True)

In [39]:
order_review_data.head()

,review_id,order_id,review_score
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5

In [40]:
donnees = pd.merge(result3, order_review_data, on='order_id')

In [41]:
donnees.shape

(111696, 14)

In [42]:
donnees.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_purchase_timestamp,order_approved_at,order_item_id,product_id,price,product_category_name,review_id,review_score
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,2017-05-16 15:05:35,2017-05-16 15:22:12,1,a9516a079e37a9c9c36b9b78b10169e8,124.99,office_furniture,88b8b52d46df026a9d1ad2136a59b30b,4
1,8912fc0c3bbf1e2fbf35819e21706718,9eae34bbd3a474ec5d07949ca7de67c0,68030,santarem,PA,c1d2b34febe9cd269e378117d6681172,2017-11-09 00:50:13,2017-11-10 00:47:48,1,a9516a079e37a9c9c36b9b78b10169e8,112.99,office_furniture,7fc63200f12eebb5f387856afdd63db8,1
2,8912fc0c3bbf1e2fbf35819e21706718,9eae34bbd3a474ec5d07949ca7de67c0,68030,santarem,PA,c1d2b34febe9cd269e378117d6681172,2017-11-09 00:50:13,2017-11-10 00:47:48,2,a9516a079e37a9c9c36b9b78b10169e8,112.99,office_furniture,7fc63200f12eebb5f387856afdd63db8,1
3,f0ac8e5a239118859b1734e1087cbb1f,3c799d181c34d51f6d44bbbc563024db,92480,nova santa rita,RS,b1a5d5365d330d10485e0203d54ab9e8,2017-05-07 20:11:26,2017-05-08 22:22:56,1,a9516a079e37a9c9c36b9b78b10169e8,124.99,office_furniture,251191809e37c1cffc16865947c18a4d,3
4,6bc8d08963a135220ed6c6d098831f84,23397e992b09769faf5e66f9e171a241,25931,mage,RJ,2e604b3614664aa66867856dba7e61b7,2018-02-03 19:45:40,2018-02-04 22:29:19,1,a9516a079e37a9c9c36b9b78b10169e8,106.99,office_furniture,f7123bac5b91a0e2e38d8b41fd1206f4,4

In [43]:
donnees.dtypes

customer_id                 object
customer_unique_id          object
customer_zip_code_prefix    int64
customer_city               object
customer_state              object
order_id                    object
order_purchase_timestamp    object
order_approved_at           object
order_item_id               int64
product_id                  object
price                       float64
product_category_name       object
review_id                   object
review_score                int64
dtype: object

In [44]:
# Distribution of customers by city of Brazil
distribution = donnees[['customer_city', 'customer_unique_id']].\
                        groupby(['customer_city']).agg('count').reset_index().\
                        sort_values('customer_unique_id', ascending=False)
distribution.rename(columns={'customer_unique_id': 'nombre clients'},
                    inplace=True)
distribution.head()

       customer_city  nombre clients
3576  sao paulo       17635
3136  rio de janeiro  7758
451   belo horizonte  3116
556   brasilia        2387
1139  curitiba        1741

In [45]:
# Verify if all the price are positive
donnees.price.min()

0.85

In [46]:
def unique_counts(df):
    """Returns the unique number of value per variable."""
    for i in df.columns:
        count = df[i].nunique()
        print("%s : %d" % (i, count))


unique_counts(donnees)

customer_id : 97264
customer_unique_id : 94096
customer_zip_code_prefix : 14927
customer_city : 4095
customer_state : 27
order_id : 97264
order_purchase_timestamp : 96729
order_approved_at : 88976
order_item_id : 21
product_id : 32338
price : 5902
product_category_name : 73
review_id : 97062
review_score : 5

In [47]:
donnees.to_csv("explorationML4.csv", sep=",", index=False)